#experience {
	background-color: var(--blue);
	display: grid;
	gap: 3em;
	
	p {
		font-size: 20px;
	}

	a {
		font-weight: 600;
		text-decoration: none;

		&:hover, &:focus {
			color: var(--yellow);
			text-decoration: underline;
			text-shadow: var(--shadow);
		}
	}
	
	.bandbook {
		display: grid;
		gap: 4em;

		@media screen and (min-width: 1040px) {
			grid-template-columns: 33% 1fr;
		}
		
		header {
			display: grid;
			gap: 1em;
			align-content: start;
		}
		
		.content {
			display: grid;
			gap: 2em;

			h4 {
				margin-block-end: .5rem;
			}
			
			.technical {
				display: grid;
				gap: 1em;
				align-content: start;
			}
			
			.features {
				display: grid;
				
				details {
					summary {
						margin-inline-start: -0.5em;
						padding: .5em;
						font-size: 2.5em;
						font-weight: bold;
						position: relative;
						
						&::marker, &::-webkit-details-marker {
							display: none;
							content: "";
						}
					}
					
					&:not([open]) summary:hover::after,
					&[open] summary::after {
						content: "";
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						inset: 0;
						background: rgba(255,255,255,.1);
						z-index: 3;
					}
					
					&:not([open]) summary {
						cursor: pointer;
					}
					
					p {
						padding: 1em .5em;
					}
				}
			}
			
		}
	}
	
	.other-projects {
		display: grid;

		h3 {
			grid-column: 1 / -1;
			margin-block-end: 1rem;
		}

		> div {
			display: grid;
			gap: 2rem;
			grid-template-columns: repeat(auto-fit, minmax(400px,1fr));

			h4 {
				text-align: center;
				width: 100%;
			}

			article {
				display: grid;
				gap: 1rem;
				align-content: start;

				p {
					font-size: 1rem;
				}
	
				img {
					padding-block: .5rem;
					justify-self: center;

					@media screen and (min-width: 768px) {
						max-height: 160px;
					}
				}
			}
		}
	}

	.lightbox {
		cursor: zoom-in;

		&:hover {
			filter: brightness(.8);
		}
	}

	.backgroundBox {
		max-width: calc(100% - 8em);

		.backgroundBox {
			width: 80%;
		}

		@media screen and (min-width: 500px) {
			max-width: 100%;

			.backgroundBox {
				width: 100%;
			}
		}
	}
}

body:has(.screenshot-modal:open) {
	overflow: hidden;
}

.screenshot-modal {
	max-width: unset;
	max-height: unset;
	display: grid;
	place-items: center;
	background: transparent;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	position: fixed;
	inset: 0;
	padding: 0;

	&::backdrop {
		background: rgba(0,0,0,.6);
	}

	img {
		max-width: 90%;
		max-height: 90%;
		border-radius: .3em;
	}
}
