#experience {
	background-color: var(--blue);
	display: grid;
	gap: 4em;
}

#experience h3 {
	text-align: center;
	margin-bottom: 1em;
}

#experience article {
	display: grid;
	gap: 2em;
}

#experience article p  {
	font-size: 2em;
}

#experience a {
	color: black;
}

#experience a:hover {
	text-decoration: underline;
}

#experience .project-links {
	display: grid;
	gap: .5em;
	width: fit-content;
}

#experience .project-links a, #resume-download a {
	font-weight: bold;
}