@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Antic', sans-serif;
    margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  background-color: gray;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  flex: 0 0 auto;
  font-size: 16vw;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: -3px;
  margin-right: 20px;
}

header p {
  font-size: 4vw;
  padding: 0 30px;
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

section {
  padding: 20px;
}

.projects {
  padding: 0;
}

.projects h2 {
  padding: 0 20px;
}

#project-slider {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 400px;
  width: 100%;
  margin: 20px 0;
  align-items: center;
  position: relative;
}

.slider-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: linear-gradient(
    to left, 
    rgba(255, 255, 255, 1) 1%, 
    rgba(255, 255, 255, .5) 4%,
    rgba(255, 255, 255, 0) 8%, 
    rgba(255, 255, 255, 0) 92%,
    rgba(255, 255, 255, .5) 96%, 
    rgba(255, 255, 255, 1) 99%
  );
}

.card {
  width: 76%;
  height: 300px;
  padding: 20px;
  margin: 0 1%;
  border: 1px solid black;
  border-radius: 1em;
  box-shadow: 3px 3px 5px lightgray;
  transition: all .3s;
  display: none;
}

/* negate card aesthetic for blank placeholders */
.card:nth-of-type(2), .card:last-of-type { 
  border: 1px solid white;
  border-radius: 1em;
  box-shadow: 3px 3px 5px white;
  z-index: -2;
  display: none;
}

.focus, .prev, .next {
  background-color: white;
  position: absolute;
  display: unset;
}

.focus {
  left: 10%;
  height: 400px;
}

.prev {
  left: -68%;
}

.next {
  left: 88%;
  z-index: -1;
}

.card h3 {
  text-align: center;
  margin-bottom: 10px;
}

.buttons {
  width: fit-content;
  margin: 0 auto;
}

.buttons button {
  padding: 10px;
  margin: 10px;
}

.about p {
  font-size: 1.2em;
}


@media screen and (min-width: 650px) {
  h1 {
    font-size: 14vw;
  }
  header p {
    font-size: 3vw;
  }
  .card {
    width: 50%;
  }
  .focus {
    left: 25%;
  }
  
  .prev {
    left: -27%;
  }
  
  .next {
    left: 77%;
  }
}
  
@media screen and (min-width: 1040px) {
  .slider-cover{
    background-image: none;
  }
  header {
    flex-direction: row;
  }
  h1 {
    font-size: 8vw;
  }
  
  header p {
    font-size: 2vw;
  }
  h2 {
    text-align: left;
  }
  .card {
    width: 31%;
  }
  .focus {
    left: 34%;
  }
  
  .prev {
    left: 2%;
  }
  
  .next {
    left: 66%;
  }
}