/*
__________________
Imports and Variables
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

:root {
	--black: #1e1c1f;
	--white: #efdbc4;
	--tan: #aa9f8c;
	--red-orange: #e94135;
	--blue: #00a4da;
	--yellow: #fff388;
	--boxBackground: rgba(255, 255, 255, .2);

	--hvy-shadow: 0 0 5px rgba(0, 0, 0, .8);
	--shadow: 0 0 5px rgba(0, 0, 0, .5);
	--lt-shadow: 0 0 4px rgba(0, 0, 0, .3);
	--highlight: 0 0 5px var(--boxBackground);
}

/*
__________________
Default styles
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

* {
	box-sizing: border-box;
	font-family: 'Antic', sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 10px;
}

h1 {
	font-size: 10em;
}

h2 {
	font-size: 6em;
}

h3 {
	font-size: 4em;
}

h4 {
	font-size: 3em;
}

p, label {
	font-size: 2em;
}

ul {
	list-style-type: none;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

main {
	position: relative;
	overflow-x: hidden;
}

section {
	min-height: 100vh;
	padding: 9em 2em 2em;
	box-shadow: var(--shadow);
}

.backgroundBox, .focus, .prev, .next {
	background-color: var(--boxBackground);
	padding: 2em;
	border-radius: .3em;
	box-shadow: var(--lt-shadow);
	height: 100%;
	width: 100%;
}

.grecaptcha-badge {
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 2em;
}

/*
__________________
Media queries
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@media screen and (min-width: 500px) {
	section {
		padding: 9em 5em;
	}

	p, label {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 1440px) {
	section {
		padding: 9em 7em;
	}
}